#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.review-form {
  position: absolute;
  left: 15%; 
  top: 25%;
  width: 30%; 
  border: 2px solid #333;
  border-radius: 8px;
  background-color: #e7eff7;
  margin-top: 0%; 
}

.review-list {
  position: absolute;
  right: 15%; 
  top: 25%;
  width: 30%; 
  border-radius: 8px;
  background-color: #e9e9e9;
  min-height: 400px; 
  overflow-y: auto; 
  max-height: 500px; 
}

.heads {
  position: absolute;
  top: 20px; 
  left: 50%;
  transform: translateX(-50%); 
  text-align: center;
  width: 100%; 
}
